extends: default

ignore: |
  venv/

rules:
  document-start: disable
  truthy: disable
  comments:
    min-spaces-from-content: 1
  quoted-strings:
    quote-type: double
    required: only-when-needed
  line-length:
    max: 160
