site_name: Selfhosters.net
site_description: |
  Selfhosters.net is a documentation portal for the Unraid Community Discord. Here you will find short guides and walkthroughs made by the  Unraid community.
site_author: Selfhosters
site_url: https://selfhosters.net

repo_name: selfhosters/selfhosters.net
repo_url: https://github.com/selfhosters/selfhosters.net
edit_uri: https://github.com/selfhosters/selfhosters.net/edit/master/docs/

# Configuration

# https://squidfunk.github.io/mkdocs-material/getting-started/#configuration
# https://squidfunk.github.io/mkdocs-material/extensions/pymdown/

plugins:
  - search
  - git-revision-date-localized
  - glightbox

markdown_extensions:
  - admonition
  - attr_list
  - codehilite
  - footnotes
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:pymdownx.emoji.twemoji
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - toc:
      permalink: true

theme:
  favicon: assets/images/favicon.ico
  logo: assets/images/logo.png
  features:
    - instant
  name: material
  language: en
  palette:
    primary: orange
    accent: red
  font:
    text: Roboto
    code: Fira Code
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/selfhosters
    - icon: fontawesome/brands/discord
      link: https://discord.gg/qWPbc8R

# Navigation
nav:
  - Home: index.md
  - Nice-to-know Unraid commands: commands.md
  - Unraid Tips:
      - Adding Discord Notifications: tips/discord_notifications/discord_notifications.md
  - Docker:
      - Telegraf:
          - Adding IPMI stats to the Telegraf container: docker/telegraf/ipmi.md
      - Plex:
          - Routing Plex through Cloudflare: docker/plex/cloudflare.md
      - VPN:
          - Route a container trough a VPN with PfSense: docker/pfsense_vlan_vpn/pfsense_vlan_vpn.md
      - Writing a template compatible for Unraid: docker/templating/templating.md
  - Remote Access:
      - Tailscale:
          - Basic Setup: remote/tailscale/basic.md
          - Advanced Settings: remote/tailscale/advanced.md
          - Docker Containers: remote/tailscale/docker.md
