git+git://github.com/mkdocs/mkdocs/#egg=mkdocs # async issues with py3.8, fix not in pip yet
mkdocs-material
pymdown-extensions
mkdocs-git-revision-date-localized-plugin
git+git://github.com/g-provost/lightgallery-markdown#egg=lightgallery